body {
  background-color: red;
}

.card-image {
  width: 40%;
}

.weather-details-card {
  background-color: #1e213a;
}

#aside {
  background-color: #1e213a;
  background-image: url("../public/Cloud-background.png");
  background-size: contain;
  background-repeat: no-repeat;
}

#main-area {
  background-color: #100e1d;
}

#tempeture-text {
  font-size: 6em;
}

#main-container {
  /* background-color: orange; */
  height: 100vh !important;
}
