body {
  background-color: red;
}

.card-image {
  width: 40%;
}

.weather-details-card {
  background-color: #1e213a;
}

#aside {
  background-color: #1e213a;
}

#aside-sub-container {
  position: relative;
}

#aside-background-image {
  width: 100%;
  opacity: 0.2;
  position: absolute;
  top: -25px;
  z-index: 1;
}

/* #aside-text-container {
  position: absolute;
} */

#main-area {
  background-color: #100e1d;
}

#tempeture-text {
  font-size: 6em;
}

#main-container {
  /* background-color: orange; */
  height: 100vh !important;
}
